.testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: #ffd7a8;
}

.testimonial {
    text-align: center;
    max-width: 30%;
}

.testimonial img {
    max-width: 100px;
    border-radius: 50%;
}

.testimonial p {
    margin-top: 20px;
}
.nav-item.dropdown:hover .dropdown-menu {
        display: block;
      }
      .dropdown-menu {
        display: none;
      }
